.Item-Box {
    display: flex;
    flex-direction: column;
    width: 500px;
    animation: Fade 1s forwards;       
}
    @keyframes Fade {
        0%{ opacity: 0; }
        100%{ opacity: 100%; }  
    }
    
        .Item-Detail {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        
            .Detail {
                display: flex;
                align-items: center;
                justify-items: flex-end;
                font-size: 25PX;
                font-family: cursive;
                color: black;
                width: 50%;
                height: fit-content;
                overflow-wrap: break-word;
                margin-left: 10px;
            }

            .Amount {
                display: flex;
                align-items: center;
                justify-content: right;
                font-size: 20PX;
                font-family: cursive;
                color: black;
                width: 50%;
                margin-left: 10px;
                margin-right: 10px;
                overflow-wrap: break-word;
            }

        .Item-Type {
            display: flex;
            font-size: 15px;
            font-family: cursive;
            color: black;
            margin-left: 10px;
            margin-top: 10px;
        }

    